* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Times New Roman", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    min-height: 100vh;
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 60px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 10px;
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1, h2 {
    color: #333;
    margin-bottom: 0.5rem;
}

main section {
    margin-bottom: 1rem;
}

ul {
    margin: 1rem 0;
    padding-left: 1.2rem;
}

ul li {
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: auto;
    margin-top: auto;
}

@media (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}

p {
    padding-bottom: 10px;
    text-indent: 20px;
}
img {
    display: block;
    margin: 20px auto;
    border: 2px solid #000;
}

.image-flex-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
    max-width: 100%;
}

.image-flex-container img {
    width: 100%;
    max-width: 305px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 8px;
}

.img-resize {
    max-width: 90%;
    height: 150px;
    display: block;
    margin-bottom:10px;
}
